{
    "hyphenated": false,
    "title": "Example",
    "tags": [
        "Example"
    ],
    "authors": [],
    "lyrics": [
        [
            "Lorem Ipsum",
            "Dolor sit amet"
        ]
    ],
    "refrain": [
        false
    ],
    "recordings": [],
    "chords": []
}
